---
import { SKIP_NAV_ID } from '@constants'
import type { HTMLAttributes } from 'astro/types'

/**
 * Wrap the main content of a page with this, thus also the <main> tag
 */
interface Props extends HTMLAttributes<'main'> {
	id?: string
}

const { id: idProp, class: className } = Astro.props
const id = idProp || SKIP_NAV_ID
---

<main id={id} class:list={['container', className]}><slot /></main>
