---
import Spacer from './spacer.astro'
import ThemeSelect from './theme-select.astro'
import AccentSelect from './accent-select.astro'
---

<footer class="container">
  <Spacer axis="vertical" size={4} />
  <div class="flex flex-row justify-between items-center pt-6 border-t border-border">
    <div class="flex items-center gap-4">
      <ThemeSelect />
      <AccentSelect />
    </div>
    <div></div>
  </div>
  <Spacer axis="vertical" size={8} />
</footer>
